<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show</title>
</head>
<body>
    <h1>Show Car</h1>
    <p>Name: <%= car.name %></p>
    <p>engine: <%= car.engine %> cc</p>
    <p>Color: <%= car.color %></p>
    <p><a href="/edit/<%= car._id %>">Edit</a></p>
    <form action="/delete/<%= car.id %>" method='post'>
           <input type="submit" value="Delete">
     </form>
</body>
</html>
